<!-- Button to retract to the home page -->
  <div class="card mb6" style="max-width: 400px;">
          <div class="col">
              <div class="card-body studentinfo">
                  <img src="./../../assets/images/profile-picture.jpeg" style="width: 50px;"/>
                  <h2 class="card-title">{{student!.firstName}} {{student!.lastName}}</h2>
                  <h5 class="card-text">Room: {{student!.room}}</h5>
                  <h5 class="card-text">Phone Number: {{student!.phone}}</h5>
                  <h5 class="card-text">Grade: {{student!.grade}}</h5>
              </div>
          </div>
  </div>

