/*
  Body background to blend feature into app
*/
.body {
  background-color: #ADA2FF;
  color: azure;
  font-size: 28px;
  align-content: center;
}
.body1 {
  background-color: #ADA2FF;
  color: azure;
  font-size: 28px;
  align-content: center;
  padding-left: 5px;
}

tr{
  background-color: #ADA2FF;
  color: azure;
}
