<!-- Button to retract to the home page -->
<div class="body1">
  <img src="./../../assets/images/back.png" routerLink="/home" style="width: 40px; background-color:#ADA2FF ;"/>
</div>

<!-- Calendar placeholder until new functional one is developed -->
<div align="center" class="body">
  <h1>Calendar</h1>

  <article class="body">
    <igx-calendar></igx-calendar>
  </article>
<br/>
</div>

<!-- Buttons to add and edit events -->
<div align="center" class="body1">
  <button class="btn" style="margin-right:  60px;"> Add Event</button>
  <button class="btn"> Edit Event</button>
</div>
