<!-- Button to retract to the home page -->
<div class="body">
  <button style="background-color: white;"type="button" align="left" class="btn btn-light" routerLink="/home">Back</button>
</div>

<!-- Place holder for the student database-->
<div align="center" class="body">
  <h1>Student Database</h1>
  <div class="input-group body" style="width: 380px;">
    <input type="search" class="form-control" placeholder="Enter students name" aria-label="Search" aria-describedby="search-addon" />
    <button type="button" class="btn btn-outline-primary">Search</button>
  </div>
</div>

