<!-- Place holder for the team page-->

      <div class="col col-lg-9 col-xl-7">
          <div class="body">
            <table class="table mb-4 body">
              <tbody>
                <tr>
                  <th scope="col">Month</th>
                  <td scope="col">{{team!.month}}</td>
                </tr>
                <tr>
                  <th scope="row">Budget</th>
                  <td>{{team!.budget}}</td>
                </tr>
                <tr>
                  <th scope="row">Team Meeting</th>
                  <td>{{team!.teamTime}}</td>
                </tr>
                <tr>
                  <th scope="row">1 ON 1</th>
                  <td>{{team!.meeting}}</td>
                </tr>
              </tbody>
            </table>
        </div>
  </div>

